/*=============== FOOTER ===============*/
.footer {
  margin-top: 8vh;
  background-image: url("files/footer-fon.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  color: var(--text-color-light);
}
.footer .section {
  padding-top: 10vh;
  padding-bottom: 8vh;
}

.footer_content {
  width: 65vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer_logo {
  width: 22vw;
  margin-right: 3vw;
}

.footer_column {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  width: 13vw;
}

.footer_column h6 {
  font-size: var(--smaller-font-size);
  font-weight: 500;
  margin-bottom: 2vh;
}

.footer_column a,
.footer_column p {
  font-size: 1vw;
  font-weight: 400;
}

.footer_column a,
.footer_column p {
  display: flex;
  gap: 5px;
  align-items: center;
  transition: color 0.1s ease-in-out;
}
.footer_column a:hover {
  color: var(--text-color-hover);
}
.footer_column a img {
  width: 1.2vw;
}
.footer_column a:hover img {
  color: var(--text-color-hover);
}

.footer_copyright {
  margin-top: 20vh;
  display: flex;
  gap: 2.8vw;
}

.footer_copyright p,
.footer_copyright a {
  font-size: 0.9vw;
  transition: color 0.1s ease-in-out;
}

.footer_copyright a {
  color: var(--text-color-hover);
}

/*=============== MEDIA SCREEN ===============*/
@media (max-width: 768px) {
  .footer {
    margin-top: 12vw;
    background-image: url(files/footer-fon-mob.jpg);
    background-position: top;
    position: relative;
  }
  .footer .section {
    padding-bottom: 12vw;
  }
  .footer_content {
    width: 100%;
    margin-top: 28vw;
    flex-wrap: wrap;
  }
  .footer_logo {
    position: absolute;
    top: 10vw;
    width: 35vw;
  }
  .footer_column {
    width: 45%;
  }
  .footer_column h6 {
    font-size: 4vw;
    font-weight: 600;
    color: var(--first-color);
    margin-bottom: 0;
  }
  .footer_column a,
  .footer_column p {
    font-size: var(--base-font-size);
    gap: 3vw;
  }
  .footer_column-last {
    margin-top: 8vw;
    width: 70vw;
  }
  .footer_column a img {
    width: 5vw;
  }
  .footer_copyright {
    margin-top: 12vw;
    flex-direction: column;
    gap: 6vw;
  }
  .footer_copyright p,
  .footer_copyright a {
    font-size: var(--small-font-size);
  }
  .footer_copyright a {
    text-decoration: underline;
  }
}
