/*=============== FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@font-face {
  font-family: 'TTTravels';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/TTTravels/TTTravels-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'TTTravels';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/TTTravels/TTTravels-Italic.woff2') format('woff2');
}
@font-face {
  font-family: 'TTTravels';
  font-style: italic;
  font-weight: 600;
  src: url('fonts/TTTravels/TTTravels-BoldItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'TTTravels';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/TTTravels/TTTravels-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'TTTravels';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/TTTravels/TTTravels-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'TTTravels';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/TTTravels/TTTravels-ExtraBold.woff2') format('woff2');
}

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: #902c4f;
  --first-color-hover: #951441;
  --second-color: #0a99b2;
  --text-color: hsl(0, 0%, 0%);
  --text-color-light: hsl(0, 0%, 100%);
  --text-color-hover: hsl(0, 0%, 78%);
  --body-color: #fff;
  --body-color-dark: #181517;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'TTTravels', 'Open Sans', sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 3.5vw;
  --h2-font-size: 2.9vw;
  --h3-font-size: 3.1vw;
  --h4-font-size: 1.8vw;
  --h5-font-size: 1.6vw;
  --h6-font-size: 1.4vw;
  --p-font-size: 1.4vw;
  --normal-font-size: 1.5vw;
  --small-font-size: 1.4vw;
  --smaller-font-size: 1.3vw;
}

body {
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
  margin: 0;
}

button {
  border: none;
  background-color: var(--first-color);
  color: var(--text-color-light);
  cursor: pointer;
  font-family: var(--body-font);
  transition: background-color 0.2s ease-in-out;
}
button:hover {
  background-color: var(--first-color-hover);
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: 600;
  margin-block-start: 0;
  margin-block-end: 0;
}
h2 {
  font-size: var(--h2-font-size);
  font-weight: 600;
  margin-block-start: 0;
  margin-block-end: 0;
  text-transform: uppercase;
}
h3 {
  font-size: var(--h3-font-size);
  font-weight: 600;
  margin-block-start: 0;
  margin-block-end: 0;
  text-transform: uppercase;
}
h4 {
  font-size: var(--h4-font-size);
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
}
h5 {
  font-size: var(--h5-font-size);
  margin-block-start: 0;
  margin-block-end: 0;
  text-transform: uppercase;
  font-weight: 600;
}
h6 {
  font-size: var(--h6-font-size);
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 600;
}
p {
  font-size: var(--p-font-size);
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

input,
textarea {
  padding: 1.7vw 0.5vw;
  background-color: inherit;
  font-size: var(--smaller-font-size);
  font-family: var(--body-font);
  color: var(--text-color-light);
  border: none;
  border-bottom: 2px solid;
  border-color: var(--body-color);
  outline: none;
  box-sizing: border-box;
}
input::placeholder {
  color: var(--text-color-light);
  font-family: var(--body-font);
}
input[type='checkbox' i] {
  width: 45px;
  accent-color: var(--first-color);
  border: none;
}

.section {
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 8vw;
}

.color-first {
  color: var(--first-color);
}

.color-second {
  color: var(--second-color);
}

/*=============== HEADER ===============*/
header {
  background-color: var(--body-color-dark);
  padding-top: 20px;
}
.header__section {
  margin-left: 60px;
  margin-right: 60px;
}

.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--text-color-light);
  font-size: var(--small-font-size);
}

.header__logo {
  width: 12vw;
}

.header__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__button-feed {
  padding: 15px 24px;
  border-radius: 8px;
  font-size: var(--small-font-size);
}

/*=============== FIRST SCREEN ===============*/
.first {
  position: relative;
  padding-top: 17vh;
  background-color: var(--body-color-dark);
  color: var(--text-color-light);
  overflow-x: hidden;
}

.first-box {
  position: relative;
  margin-left: 60px;
  z-index: 10;
}

.first h1 {
  text-transform: uppercase;
  line-height: 110%;
}

.first h1 span {
  font-style: italic;
  font-weight: 600;
}

.first h4 {
  margin-top: 5.5vh;
}

.main__button-feed {
  margin-top: 5.5vh;
  padding: 28px 36px;
  border-radius: 12px;
  font-size: var(--small-font-size);
  text-transform: uppercase;
  font-weight: 600;
}

/*=============== VIDEO MAIN ===============*/
.logo_mask {
  display: inline-block;
  margin-top: -35vw;
  margin-left: -1vw;

  -webkit-mask-image: url('files/videoMask.svg');
  mask-image: url('files/videoMask.svg');

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-position: center;
  mask-position: center;

  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.video_holder video {
  position: relative;
  top: -80px;
  right: 125px;
  width: 115vw;
  z-index: 5;
  pointer-events: none;
}

/*=============== COMPANY ===============*/
.company {
  background-image: url('/assets/files/o-kompany-fon.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  margin-top: -23%;
}

.company_content {
  position: relative;
  padding-top: 10vh;
  display: flex;
  justify-content: space-between;
  z-index: 6;
}

.company_info {
  margin: 16vh 0 12vh 0;
  width: 35vw;
  display: flex;
  flex-direction: column;
}

.company_title {
  margin-bottom: 4vh;
}
.company_text-1 {
  margin-bottom: 4vh;
}
.company_text-2 {
  margin-bottom: 6vh;
}

.company_logo {
  width: 274px;
  margin: auto;
}

/*=============== ABOUT ===============*/
.about {
  display: flex;
}

.about_column {
  width: 50%;
}

.about_column-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 122px;
}

.about_card {
  display: flex;
  flex-direction: column;
}
.about_number {
  font-size: 10vw;
  color: var(--second-color);
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
}
.about_number span {
  font-size: 5vw;
}
.about_description {
  margin-top: 0.5vh;
  font-size: 1.5vw;
  color: var(--second-color);
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
.about_text {
  margin-top: 0.5vh;
  font-size: 1.5vw;
  text-align: center;
}

.about_card-big {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
}
.about_number-big {
  font-size: 18vw;
  color: var(--first-color);
  font-weight: 800;
  text-align: center;
  letter-spacing: -1vw;
  line-height: 1;
}
.about_text-big {
  font-size: 2.7vw;
  color: var(--first-color);
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}

.about_column-box {
  margin-top: 6vh;
  margin-left: auto;
  margin-right: auto;
  width: 30vw;
  display: flex;
  justify-content: space-between;
}
.about_column-card {
  display: flex;
  align-items: center;
  gap: 8px;
}
.about_column-card .about_description {
  text-align: start;
}

.about_column-box-icon {
  width: 4.2vw;
}

/*=============== YSLUGI ===============*/

.yslugi_parent {
  margin-top: 8vh;
  /* margin-bottom: 16vh; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2.1vw;
}

.yslugi_1 {
  grid-column: span 3 / span 3;
  background: url('/assets/files/yslugi-1.jpg') no-repeat center;
}
.yslugi_2 {
  grid-column: span 3 / span 3;
  grid-column-start: 4;
  background: url('/assets/files/yslugi-2.jpg') no-repeat center;
}
.yslugi_3 {
  grid-column: span 2 / span 2;
  grid-row-start: 2;
  background: url('/assets/files/yslugi-3.jpg') no-repeat center;
}
.yslugi_4 {
  grid-column: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 2;
  background: url('/assets/files/yslugi-4.jpg') no-repeat center;
}
.yslugi_5 {
  grid-column: span 2 / span 2;
  grid-column-start: 5;
  grid-row-start: 2;
  background: url('/assets/files/yslugi-5.jpg') no-repeat center;
}
.yslugi_6 {
  grid-column: span 2 / span 2;
  grid-row-start: 3;
  background: url('/assets/files/yslugi-6.jpg') no-repeat center;
}
.yslugi_7 {
  grid-column: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 3;
  background: url('/assets/files/yslugi-7.jpg') no-repeat center;
}
.yslugi_8 {
  grid-column: span 2 / span 2;
  grid-column-start: 5;
  grid-row-start: 3;
  background: url('/assets/files/yslugi-8.jpg') no-repeat center;
}

.yslugi_card {
  position: relative;
  display: flex;
  align-items: flex-end;
  border-radius: 12px;
  overflow: hidden;
  background-size: 100%;
  -webkit-transition: background-size 0.5s ease;
  -moz-transition: background-size 0.5s ease;
  -o-transition: background-size 0.5s ease;
  transition: background-size 0.5s ease;
  width: 100%;
}

.yslugi_card-square {
  aspect-ratio: 1 / 1;
}

.yslugi_card:hover {
  background-size: 105%;
}

.yslugi_card-content {
  padding: 2vw;
}

.yslugi_card-content h5 {
  margin-bottom: 10px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--text-color-light);
}

.yslugi_card-content p {
  font-size: var(--h5-font-size);
  color: var(--text-color-light);
}

.yslugi_description {
  font-size: 2.5vw;
}
.yslugi_description-italic {
  font-style: italic;
}
.yslugi_description-1 {
  width: 60vw;
}
.yslugi_description-2 {
  width: 52vw;
  margin-top: 120px;
  margin-left: 41vw;
}

/*=============== ФОРМА ОБРАТНОЙ СВЯЗИ ===============*/
.feedback {
}
.feedback_content {
  padding: 4vw 2.7vw;
  background-image: url('/assets/files/feed-back-fon.jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  border-radius: 12px;
  color: var(--text-color-light);
}
.feedback_content h3 {
  font-size: 2.2vw;
  margin-bottom: 4vh;
}
.feedback_content p {
  margin-bottom: 12vh;
  width: 55vw;
  font-size: var(--smaller-font-size);
}

.feedback_form {
  width: 55vw;
}
.feedback_form-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
}
.feedback_input {
  width: 100%;
  height: 5vh;
  font-size: var(--smaller-font-size);
}
.feedback_textarea {
  margin-top: 8vh;
  width: 100%;
  height: 5vh;
  font-size: var(--p-font-size);
}
.feedback_form-content-last {
  margin-top: 14vh;
}
.feedback_button {
  padding-top: 28px;
  padding-bottom: 28px;
  width: 100%;
  border-radius: 12px;
  font-size: var(--small-font-size);
  text-transform: uppercase;
  font-weight: 600;
}
.feedback_form-checkbox {
  width: 100%;
  display: flex;
  gap: 11px;
}
.feedback_form-label {
  font-size: 1vw;
}
.feedback_document {
  font-size: 1vw;
  text-decoration: underline;
}

/*=============== НАШИ ПРЕИМУЩЕСТВА ===============*/
.advantage {
}

.advantage_all-cards {
  margin-top: 8vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.1vw;
}

.advantage_card {
  border-radius: 12px;
  color: var(--text-color-light);
  height: 39vh;
  margin-bottom: 2vw;
}
.advantage_card img {
  width: 8vw;
}
.advantage_card h5 {
  font-weight: 600;
}

/*=============== ИНТЕРАКТИВНЫЕ КАРТОЧКИ  ===============*/
.flipper {
  transition: transform 0.5s ease-in-out;
  transform-style: preserve-3d;
  /* height: 100%; */
}

.flip-container:hover .flipper {
  transform: rotateY(180deg);
}

.front,
.back {
  height: 35vh;
  backface-visibility: hidden;
  position: absolute;
  border-radius: 10px;
  overflow: hidden;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background: linear-gradient(180deg, rgba(59, 169, 189, 0) 0%, #3ba9bd 100%),
    #262626;
}

.front {
  z-index: 2;
}

.back {
  transform: rotateY(180deg);
}

/*=============== НАШИ ПАРТНЕРЫ ===============*/
.partners_container {
  max-width: 100%;
  margin: 0 auto;
}

.logos-container {
  position: relative;
  width: 100%;
  height: 17vw;
  overflow: hidden;
  margin: 4vw 0 0 0;
  touch-action: pan-y;
}

.logos-track {
  display: flex;
  position: absolute;
  height: 100%;
  align-items: center;
  will-change: transform;
}

.partners_logo {
  flex-shrink: 0;
  width: 17vw;
  aspect-ratio: 1 / 1;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 8px;
  user-select: none;
}

/*=============== ИНФОРМАЦИЯ ===============*/
.information_cards-all {
  margin-top: 8vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.1vw;
}

.information_card {
  position: relative;
  padding: 2vw;
  height: 16vh;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    #902c4f;
  border-radius: 12px;
}

.information_card h5 {
  color: var(--text-color-light);
}

.information_card img {
  position: absolute;
  bottom: 1vw;
  right: 1vw;
  width: 3vw;
  transition: right 0.1s ease-in-out;
}

.information_card:hover img {
  right: 0.8vw;
}

/*=============== КОНТАКТЫ ===============*/
.contacts_content {
  margin-top: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 6vw;
}

.contacts_info {
  width: 33vw;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.contacts_info li {
  display: flex;
  flex-direction: column;
  gap: 0.6vh;
}

/*=============== ЯНДЕКС КАРТА ===============*/
.contacts_map {
  width: 54vw;
  height: 27vw;
  border-radius: 12px;
  overflow: hidden;
}
.ymaps3x0--map-copyrights__user-agreements {
  font-size: 12px;
}
.my-marker {
  width: 2vw;
}

/*=============== FOOTER ===============*/
.footer {
  margin-top: 16vh;
  background-image: url('/assets/files/footer-fon.jpg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  color: var(--text-color-light);
}
.footer .section {
  padding-top: 10vh;
  padding-bottom: 28vh;
}

.footer_content {
  width: 65vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer_logo {
  width: 22vw;
  margin-right: 3vw;
}

.footer_column {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  width: 13vw;
}

.footer_column h6 {
  font-size: var(--smaller-font-size);
  font-weight: 500;
  margin-bottom: 2vh;
}

.footer_column a,
.footer_column p {
  font-size: 1vw;
  font-weight: 400;
}

.footer_column a,
.footer_column p {
  display: flex;
  gap: 5px;
  align-items: center;
}
.footer_column a:hover {
  color: var(--text-color-hover);
}
.footer_column a img {
  width: 1.2vw;
}
.footer_column a:hover img {
  color: var(--text-color-hover);
}

/*=============== MEDIA SCREEN ===============*/
@media screen and (min-width: 1024px) {
  .section {
    margin-left: 40px;
    margin-right: 40px;
  }

  .header__button-feed {
    padding: 12px 18px;
  }

  .main__button-feed {
    padding: 22px 30px;
  }

  .first {
    padding-top: 12vh;
  }
  .first-box {
    margin-left: 40px;
  }

  .logo_mask {
    margin-top: -34vw;
  }
}

@media screen and (min-width: 1280px) {
  .first {
    padding-top: 13vh;
  }

  .logo_mask {
    margin-top: -33vw;
  }

  .section {
    margin-left: 60px;
    margin-right: 60px;
  }
}

@media screen and (min-width: 1450px) {
  .first {
    padding-top: 16vh;
  }
  .first-box {
    margin-bottom: 5vh;
  }

  .logo_mask {
    margin-top: -36vw;
  }
}

@media screen and (min-width: 1600px) {
  .first {
    padding-top: 17vh;
  }

  .logo_mask {
    margin-top: -36vw;
    margin-left: -1vw;
  }

  /* .video_holder video {
    width: 115vw;
  } */
}
