/*=============== FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@font-face {
  font-family: "TTTravels";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/TTTravels/TTTravels-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "TTTravels";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/TTTravels/TTTravels-Italic.woff2") format("woff2");
}
@font-face {
  font-family: "TTTravels";
  font-style: italic;
  font-weight: 600;
  src: url("fonts/TTTravels/TTTravels-BoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "TTTravels";
  font-style: normal;
  font-weight: 600;
  src: url("fonts/TTTravels/TTTravels-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "TTTravels";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/TTTravels/TTTravels-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "TTTravels";
  font-style: normal;
  font-weight: 800;
  src: url("fonts/TTTravels/TTTravels-ExtraBold.woff2") format("woff2");
}

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: #902c4f;
  --second-color: #0a99b2;
  --text-color: hsl(0, 0%, 0%);
  --text-color-light: hsl(0, 0%, 100%);
  --body-color: #fff;
  --body-color-dark: #181517;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "TTTravels", "Open Sans", sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 3.5vw;
  --h2-font-size: 3vw;
  --h3-font-size: 3.2vw;
  --h4-font-size: 1.8vw;
  --p-font-size: 1.5vw;
  --normal-font-size: 1.6vw;
  --small-font-size: 1.4vw;
  --smaller-font-size: 0.75rem;
}

body {
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
  margin: 0;
}

button {
  border: none;
  background-color: var(--first-color);
  color: var(--text-color-light);
  cursor: pointer;
  font-family: var(--body-font);
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: 600;
  margin-block-start: 0;
  margin-block-end: 0;
}
h2 {
  font-size: var(--h2-font-size);
  font-weight: 600;
  margin-block-start: 0;
  margin-block-end: 0;
  text-transform: uppercase;
}
h3 {
  font-size: var(--h3-font-size);
  font-weight: 600;
  margin-block-start: 0;
  margin-block-end: 0;
  text-transform: uppercase;
}
h4 {
  font-size: var(--h4-font-size);
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
}
h5 {
  margin-block-start: 0;
  margin-block-end: 0;
}
p {
  font-size: var(--p-font-size);
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
}

.section {
  margin-left: 60px;
  margin-right: 60px;
}

.color-first {
  color: var(--first-color);
}

.color-second {
  color: var(--second-color);
}

/*=============== HEADER ===============*/
header {
  background-color: var(--body-color-dark);
  padding-top: 20px;
}

.container {
  margin: 0 60px;
}

.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--text-color-light);
  font-size: var(--small-font-size);
}

.header__logo {
  width: 192px;
}

.header__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__button-feed {
  padding: 15px 24px;
  border-radius: 8px;
  font-size: var(--small-font-size);
}

/*=============== FIRST SCREEN ===============*/
.first {
  position: relative;
  padding-top: 17vh;
  background-color: var(--body-color-dark);
  color: var(--text-color-light);
  overflow-x: hidden;
}

.first-box {
  position: relative;
  margin-left: 60px;
  z-index: 10;
}

.first h1 {
  text-transform: uppercase;
  line-height: 110%;
}

.first h1 span {
  font-style: italic;
  font-weight: 600;
}

.first h4 {
  margin-top: 5.5vh;
}

.main__button-feed {
  margin-top: 5.5vh;
  padding: 28px 36px;
  border-radius: 12px;
  font-size: var(--normal-font-size);
  text-transform: uppercase;
  font-weight: 600;
}

/*=============== VIDEO MAIN ===============*/
.logo_mask {
  display: inline-block;
  margin-top: -65vh;
  margin-left: -12vw;

  -webkit-mask-image: url("files/videoMask.svg");
  mask-image: url("files/videoMask.svg");

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-position: center;
  mask-position: center;

  -webkit-mask-size: 100%;
  mask-size: 100%;
}

/* .video_holder {
  width: 130vw;
  height: 100%;
   overflow: hidden;
} */

.video_holder video {
  z-index: 5;
  pointer-events: none;
}

.video_holder video {
  position: relative;
  top: -80px;
  right: 250px;
  width: 130vw;
}

/*=============== COMPANY ===============*/
.company {
  background-image: url("/assets/files/o-kompany-fon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  margin-top: -23%;
}

.company_content {
  position: relative;
  padding-top: 10vh;
  display: flex;
  justify-content: space-between;
  z-index: 6;
}

.company_info {
  margin: 16vh 0 12vh 0;
  width: 37vw;
  display: flex;
  flex-direction: column;
}

.company_title {
  margin-bottom: 32px;
}
.company_text-1 {
  margin-bottom: 40px;
}
.company_text-2 {
  margin-bottom: 34px;
}

.company_logo {
  width: 274px;
  margin: auto;
}

/*=============== ABOUT ===============*/
.about {
  padding: 8vw 0;
  display: flex;
}

.about_column {
  width: 50%;
}

.about_column-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 122px;
}

.about_card {
  display: flex;
  flex-direction: column;
}
.about_number {
  font-size: 10vw;
  color: var(--second-color);
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
}
.about_number span {
  font-size: 5vw;
}
.about_description {
  margin-top: 0.5vh;
  font-size: 1.5vw;
  color: var(--second-color);
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
.about_text {
  margin-top: 0.5vh;
  font-size: 1.5vw;
  text-align: center;
}

.about_card-big {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
}
.about_number-big {
  font-size: 18vw;
  color: var(--first-color);
  font-weight: 800;
  text-align: center;
  letter-spacing: -1vw;
  line-height: 1;
}
.about_text-big {
  font-size: 2.7vw;
  color: var(--first-color);
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}

.about_column-box {
  margin-top: 6vh;
  margin-left: auto;
  margin-right: auto;
  width: 30vw;
  display: flex;
  justify-content: space-between;
}
.about_column-card {
  display: flex;
  align-items: center;
  gap: 8px;
}
.about_column-card .about_description {
  text-align: start;
}

.about_column-box-icon {
  width: 4.2vw;
}

/*=============== YSLUGI ===============*/

.yslugi_parent {
  margin-top: 8vh;
  margin-bottom: 16vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 32px;
}

.yslugi_1 {
  grid-column: span 3 / span 3;
  background: url("/assets/files/yslugi-1.jpg") no-repeat center;
}
.yslugi_2 {
  grid-column: span 3 / span 3;
  grid-column-start: 4;
  background: url("/assets/files/yslugi-2.jpg") no-repeat center;
}
.yslugi_3 {
  grid-column: span 2 / span 2;
  grid-row-start: 2;
  background: url("/assets/files/yslugi-3.jpg") no-repeat center;
}
.yslugi_4 {
  grid-column: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 2;
  background: url("/assets/files/yslugi-4.jpg") no-repeat center;
}
.yslugi_5 {
  grid-column: span 2 / span 2;
  grid-column-start: 5;
  grid-row-start: 2;
  background: url("/assets/files/yslugi-5.jpg") no-repeat center;
}
.yslugi_6 {
  grid-column: span 2 / span 2;
  grid-row-start: 3;
  background: url("/assets/files/yslugi-6.jpg") no-repeat center;
}
.yslugi_7 {
  grid-column: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 3;
  background: url("/assets/files/yslugi-7.jpg") no-repeat center;
}
.yslugi_8 {
  grid-column: span 2 / span 2;
  grid-column-start: 5;
  grid-row-start: 3;
  background: url("/assets/files/yslugi-8.jpg") no-repeat center;
}

.yslugi_card {
  position: relative;
  display: flex;
  align-items: flex-end;
  border-radius: 12px;
  overflow: hidden;
  background-size: 100%;
  -webkit-transition: background-size 0.5s ease;
  -moz-transition: background-size 0.5s ease;
  -o-transition: background-size 0.5s ease;
  transition: background-size 0.5s ease;
  width: 100%;
}

.yslugi_card-square {
  aspect-ratio: 1 / 1;
}

.yslugi_card:hover {
  background-size: 105%;
}

.yslugi_card-content {
  padding: 2vw;
}

.yslugi_card-content h5 {
  margin-bottom: 10px;
  font-size: 1.8vw;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--text-color-light);
}

.yslugi_card-content p {
  font-size: 1.8vw;
  color: var(--text-color-light);
}

.yslugi_description {
  font-size: 2.5vw;
}
.yslugi_description-italic {
  font-style: italic;
}
.yslugi_description-1 {
  width: 60vw;
}
.yslugi_description-2 {
  width: 52vw;
  margin-top: 120px;
  margin-left: 41vw;
}

/*=============== MEDIA SCREEN ===============*/

@media screen and (min-width: 1024px) {
  /* :root {
    --normal-font-size: 18px;
    --h1-font-size: 42px;
    --h2-font-size: 32px;
    --h3-font-size: 40px;
    --h4-font-size: 22px;
    --p-font-size: 18px;
    --normal-font-size: 24px;
    --small-font-size: 20px;
    --smaller-font-size: 0.75rem;
  } */

  .logo_mask {
    margin-top: -50vh;
    margin-left: -12vw;
  }

  .video_holder video {
    width: 135vw;
  }

  /* .company_info {
    margin: 100px 0 60px 0;
    width: 450px;
  }
  .company_logo {
    width: 220px;
  } */

  /* .about_number {
    font-size: 125px;
  }
  .about_description {
    font-size: 20px;
  }
  .about_text {
    font-size: 18px;
  }
  .about_number-big {
    font-size: 260px;
  }
  .about_text-big {
    font-size: 44px;
  } 
  .about_column-box {
    width: 420px;
  }
  .about_column-box-icon {
    width: 66px;
  }*/
}

@media screen and (min-width: 1280px) {
  /* :root {
    --normal-font-size: 18px;
    --h1-font-size: 44px;
    --h2-font-size: 36px;
    --h3-font-size: 42px;
    --h4-font-size: 24px;
    --p-font-size: 20px;
    --normal-font-size: 24px;
    --small-font-size: 20px;
    --smaller-font-size: 0.75rem;
  } */

  .logo_mask {
    margin-top: -65vh;
    margin-left: -15vw;
  }

  /* .company_info {
    margin: 100px 0 60px 0;
    width: 480px;
  } */

  /* .about_number {
    font-size: 155px;
  }
  .about_description {
    font-size: 22px;
  }
  .about_text {
    font-size: 20px;
  }
  .about_number-big {
    font-size: 300px;
  }
  .about_text-big {
    font-size: 48px;
  } 
  .about_column-box {
    width: 450px;
  }*/
}

@media screen and (min-width: 1450px) {
  /* :root {
    --normal-font-size: 20px;
    --h1-font-size: 52px;
    --h2-font-size: 44px;
    --h3-font-size: 48px;
    --h4-font-size: 24px;
    --p-font-size: 22px;
    --normal-font-size: 24px;
    --small-font-size: 20px;
    --smaller-font-size: 0.75rem;
  } */

  /* .first {
    padding-top: 130px;
  } */

  /* .company_info {
    margin: 120px 0 80px 0;
    width: 520px;
  }
  .company_logo {
    width: 240px;
  } */

  /*.about {
    padding: 140px 0;
  }
   .about_number {
    font-size: 170px;
  }
  .about_description {
    font-size: 24px;
  }
  .about_text {
    font-size: 22px;
  }
  .about_number-big {
    font-size: 320px;
  }
  .about_text-big {
    font-size: 50px;
  }
  .about_column-box {
    width: 480px;
  } */

  /* .yslugi_card-content {
    padding: 44px;
  }
  .yslugi_card-content h5 {
    font-size: 24px;
  }
  .yslugi_card-content p {
    font-size: 24px;
  } */
}

@media screen and (min-width: 1600px) {
  /* :root {
    --h1-font-size: 70px;
    --h2-font-size: 52px;
    --h3-font-size: 58px;
    --h4-font-size: 28px;
    --p-font-size: 24px;
    --normal-font-size: 24px;
  } */

  /* .first {
    padding-top: 150px;
  } */

  .logo_mask {
    margin-top: -68vh;
    margin-left: -5vw;
  }

  .video_holder video {
    width: 120vw;
  }

  /* .company_info {
    margin: 266px 0 142px 0;
    width: 610px;
  }
  .company_logo {
    width: 274px;
  }

  .about {
    padding: 160px 0;
  } */
  /* .about_number {
    font-size: 200px;
  }
  .about_description {
    font-size: 28px;
  }
  .about_text {
    font-size: 24px;
  }
  .about_number-big {
    font-size: 350px;
  }
  .about_text-big {
    font-size: 54px;
  } */
  /* .about_column-box {
    margin-top: 86px;
    width: 547px;
  } */

  /* .yslugi_card-content {
    padding: 52px;
  }
  .yslugi_card-content h5 {
    font-size: 32px;
  }
  .yslugi_card-content p {
    font-size: 32px;
  } */
}
