.servises .section {
  padding-top: 3vw;
}

.servises_buttom-back {
  max-width: 20.5vw;
  display: none;
}

.servises_first {
  position: relative;
  height: 71vh;
  padding: 8vh 60px;
  display: flex;
  align-items: flex-end;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.energosnab {
  background-image: linear-gradient(
      177.87deg,
      rgba(0, 0, 0, 0) 58.8%,
      rgba(0, 0, 0, 0.8) 85.7%
    ),
    url("files/servises/img-1.jpg");
}

.servises a {
  color: var(--text-color);
  display: flex;
  align-items: center;
  font-size: var(--small-font-size);
  font-weight: 600;
  text-transform: uppercase;
  gap: 5px;
  border-bottom: 2px solid;
}
.servises a:hover {
  filter: brightness(0) saturate(100%) invert(20%) sepia(43%) saturate(2330%)
    hue-rotate(307deg) brightness(97%) contrast(89%);
}

.servises a img {
  width: 1.7vw;
}

.servises_title-box {
  color: var(--text-color-light);
}

.servises_title-box h1 {
  font-size: var(--h2-font-size);
  text-transform: uppercase;
}

.servises_title-box p {
  text-transform: uppercase;
  font-size: var(--smaller-font-size);
  font-weight: 500;
}

.servises_img-main {
  width: 100%;
}

.servises_text {
  width: 71vw;
  padding-top: 2vh;
}

.servises_text p {
  margin-bottom: 4vh;
  font-size: 1.25vw;
}
.servises_text p b {
  font-weight: 550;
}
.servises_text p span {
  color: var(--first-color);
  font-weight: 550;
}

.servises_shema {
  margin-top: 4vh;
  width: 100%;
}

.servises h4 {
  margin-top: 6vh;
  font-size: 1.6vw;
  color: var(--first-color);
  text-transform: uppercase;
  font-weight: 600;
}
.servises ul {
  margin-top: 4vh;
}

.servises li {
  margin-top: 3vh;
  display: flex;
  align-items: center;
  gap: 1vw;
}

.servises h6 {
  font-weight: 500;
  font-size: 1.6vw;
}

.servises_check {
  width: 2vw;
  margin-top: -2px;
}

.servises_list-1 li {
  margin-top: 4.5vh;
}

.servises_list-1 h6 {
  font-weight: 550;
}

.servises_list-1 .servises_check {
  width: 2.5vw;
}

.servises .servises_list-2 {
  margin-left: 3vw;
  margin-top: 1vh;
}

.servises_list-2 li {
  margin-top: 0;
  font-size: var(--small-font-size);
  font-weight: 550;
  gap: 0;
}

.info-doc .servises_list-2 {
  width: 70vw;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.info-doc .servises_list-2 a img {
  width: 2.5vw;
}

.info-doc .servises_list-2 li a {
  text-transform: none;
  text-decoration: none;
  border-bottom: 0;
  font-weight: 550;
}

.servises .footer {
  margin-top: 8vh;
}

.servises_button-feedback {
  display: block;
  margin-top: 8vh;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 24px;
  border-radius: 8px;
  font-size: var(--normal-font-size);
  font-weight: 500;
}

.servises-dialog {
  border: none;
  padding: 0;
}

.popup_form {
  position: relative;
  padding: 4vw;
  border: 0px;
  border-radius: 10px;
  background-color: var(--second-color-dialog);
  background-position: left;
}

.popup-close {
  position: absolute;
  top: 1vw;
  right: 1.5vw;
  cursor: pointer;
  font-size: var(--h4-font-size);
  font-weight: 500;
  color: var(--text-color-light);
}

.popup_textarea {
  margin-top: 6vh;
}

.popup_content-last {
  margin-top: 6vh;
}

.popup_form-label {
  color: var(--text-color-light);
}

.popup_button-submit {
  padding: 1vw;
}

.otchetnost_list,
.info-doc_list {
  margin-top: 4vh !important;
}

/* ++++++++++++++++++++ Карточки +++++++++++++++++++++ */
.servises_carts {
  margin-top: 4vh;
  display: grid;
  gap: 2vw;
}
.servises_cart {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  border-radius: 12px;
}
.servises_cart p {
  color: var(--text-color-light);
  font-weight: 600;
}

.servises_advantages-title {
  margin-top: 8vh !important;
}
.servises_advantages {
  grid-template-columns: 1fr 1fr 1fr;
}
.servises_advantages-cart {
  padding: 8vh 0;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    #902c4f;
}
.servises_advantages-cart p {
  text-align: center;
}

.servises_green {
  margin: 6vh 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.servises_green-cart {
  padding: 2vw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: linear-gradient(180deg, rgba(59, 169, 189, 0) 0%, #3ba9bd 100%),
    #262626;
}
.servises_green-cart p {
  font-size: var(--smaller-font-size);
}

/*+++++++++++++++++++++++ Аккордеон +++++++++++++++++++++*/
.accordion {
  width: 100%;
}

.accordion-item {
  border-bottom: 1px solid #353234;
  margin-bottom: 10px;
}

.accordion-header {
  padding: 2.5vh;
  cursor: pointer;
  border-bottom: 1px solid #353234;
  color: var(--first-color);
  font-size: var(--h5-font-size);
  font-weight: 600;
  text-transform: uppercase;
}

.accordion-content {
  padding: 0 3vh;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.accordion-content ul {
  margin: 2vh 0;
}

.accordeon-content-num {
  width: 2vw;
  height: 2vw;
  background-color: var(--first-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color-light);
  font-size: 1.4vw;
  font-weight: 500;
}

.accordion-header::after {
  content: "+";
  margin-top: -2.3vh;
  float: right;
  font-family: "Open Sans", sans-serif;
  font-size: var(--h3-font-size);
  font-weight: 400;
}

.accordion-header.active::after {
  content: "–";
}

.accordeon-text {
  padding: 2vh 0;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.accordion-wrap {
  margin: 1vh 0;
}

.accordion-content p {
  font-size: var(--smaller-font-size);
}

.otchetnost .accordeon-text {
  padding: 1vh 0;
}

.accordion-content a {
  display: block;
  font-size: var(--smaller-font-size);
  text-transform: none;
  font-weight: 550;
  border-bottom: 0;
  text-decoration: underline;
}

.accordion-content p span {
  color: var(--first-color);
  font-weight: 550;
}

/* ++++++++++++++ Информация ++++++++++++++++ */

.info-do_list li {
  margin-top: 5vh;
  align-items: start;
}

.info-do_list .servises_check {
  margin-top: 0;
}

.dogovor_list {
  margin-top: 8vh !important;
  width: 77vw;
}

.dogovor_list h6 {
  font-weight: 400;
}

.rekviziti_list {
  width: 70vw;
  font-size: var(--small-font-size);
  font-weight: 550;
}

.rekviziti_list li {
  display: block;
}

.rekviziti_list li span {
  color: var(--first-color);
}

.rekviziti_list li a {
  font-size: var(--small-font-size);
  font-weight: 550;
  text-transform: lowercase;
  border-bottom: 0;
}

/* ++++++++++++++++++++ Свидетельства +++++++++++++++++++++ */
.svidetelstva__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 4vw;
}
.svidetelstva__card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-bottom: 0 !important;
  align-items: flex-start !important;
}
.svidetelstva__card:hover {
  filter: none !important;
}

.svidetelstva__card img {
  width: 100% !important;
  border: var(--first-color) solid 2px;
  border-radius: 6px;
}
.svidetelstva__card h5 {
  font-size: var(--base-font-size);
  text-align: start;
  color: var(--first-color);
}

/*=============== MEDIA SCREEN ===============*/
@media (max-width: 768px) {
  .servises_first {
    height: 20vh;
    padding: 2vh 20px;
  }
  .servises_title-box h1 {
    font-size: 5vw;
  }

  .servises_text {
    width: 100%;
  }

  .servises_text p {
    font-size: 3.8vw;
    margin-bottom: 3vh;
  }

  .servises_shema {
    margin-top: 0;
    margin-left: -20px;
    width: 100vw;
  }

  .servises ul {
    margin-top: 2vh;
  }
  .servises li {
    margin-top: 2vh;
    gap: 2vw;
  }
  .servises h4 {
    margin-top: 2vh;
    font-size: 3.8vw;
  }
  .servises_check {
    width: 5vw;
  }
  .servises h6 {
    font-size: 3.8vw;
  }
}
