/*=============== MAP ===============*/
/* .map-container {
  width: 100%;
  margin: 0 auto;
}

svg {
  width: 100%;
  height: auto;
}

.regions path {
  fill: #ccc;
  stroke: #666;
  stroke-width: 1;
  transition: fill 0.3s;
}

.regions path:hover {
  fill: #4caf50;
  cursor: pointer;
}

.region-hover {
  fill: #4caf50;
}

.tooltip {
  position: absolute;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
} */

/*=============== НАШИ ПАРТНЕРЫ ===============*/
/* .partners_container {
  max-width: 100%;
  margin: 0 auto;
}

.logos-container {
  position: relative;
  width: 100%;
  height: 17vw;
  overflow: hidden;
  margin: 4vw 0 0 0;
  touch-action: pan-y;
}

.logos-track {
  display: flex;
  position: absolute;
  height: 100%;
  align-items: center;
  will-change: transform;
}

.partners_logo {
  flex-shrink: 0;
  width: 17vw;
  aspect-ratio: 1 / 1;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 8px;
  user-select: none;
} */
